body {
    font-family: 'Roboto';font-size: 22px;

}
p{
	font-size: 30px;
}
#entrada{
	width: 100%;
	height: 500px;
	margin-top: 200px;

}
.title-menu{
	color: #FF6026;
	font-size: 25px;
	font-weight: bold;
}
